{% extends 'core/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
  <h2>All Orders</h2>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>Product</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Merchant</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.product_name }}</td>
        <td>{{ order.total_amount }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.merchant.name }}</td>
        <td>{{ order.created_at|date:"Y-m-d H:i:s" }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="text-center">No orders found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

